.about-us-menu {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-us-svg {
  width: 70px;
  height: 70px;
  padding: 100px, 25px, 100px, 25px;
}

.about-us-fone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about-us-item:not(:last-child) {
  margin-right: 30px;
}

%us-works-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color-main;
}

.about-us-title {
  @extend %us-works-text;
  margin-bottom: 10px;
}

.our-works-text {
  @extend %us-works-text
}

.about-us-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-main-color;
}
