.footer {
  background-color: #2f303a;

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;

  .footer-logo {
    color: $text-secondary-color;
    margin-bottom: 20px;
  }
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 208px;
  max-height: 80px;
}

.social-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list-footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-adress-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color $main-animation;
  -o-transition: color $main-animation;
  transition: color $main-animation;
  color: $text-secondary-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

%font-link-footer {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color $main-animation;
  -o-transition: color $main-animation;
  transition: color $main-animation;
}

.adress-mail-footer {
  @extend %font-link-footer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.adress-tel-footer {
  @extend %font-link-footer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.social-links-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: $text-secondary-color;
}

.footer-social-icon-svg {
  width: 20px;
  height: 20px;
  fill: $text-secondary-color;
}

.social-list-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $text-main-color;
  -webkit-transition: background-color $main-animation;
  -o-transition: background-color $main-animation;
  transition: background-color $main-animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.form-footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 570px;

  .social-links-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-mail {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: $text-secondary-color;
  padding-left: 16px;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &::-moz-placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:-ms-input-placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &::-ms-input-placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:not(:placeholder-shown) {
    border-color: $accent-color;
  }
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $text-secondary-color;
  cursor: pointer;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

.form-footer-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $text-secondary-color;
}