.header {
  background-color: $title-color-secondary;

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header-portfolio {
  background-color: $title-color-secondary;
  border-bottom: 1px solid #ececec;

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

%navigation-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-main-nav {
  @extend %navigation-flex;
}
.navigation {
  @extend %navigation-flex;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.navigation-menu-item .current {
  position: relative;
}

.navigation-menu-link:hover::after {
  content: "";
  background-color: $accent-color;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header-adress-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.header-adress-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  margin-right: 85px;
}

.nav-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

%logo-style {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo {
  @extend %logo-style;
}

.footer-logo {
  @extend %logo-style;
}

.logo-web,
.footer-logo-web {
  color: $accent-color;
}

%font-for-header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color $main-animation;
  -o-transition: color $main-animation;
  transition: color $main-animation;
}

.navigation-menu-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-color-main;
  @extend %font-for-header-item;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

%style-header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
}

.adress-mail {
  @extend %style-header-link;
  @extend %font-for-header-item;
  color: $text-main-color;

  &:hover,
  &:focus {
    color: $accent-color;
    .adress-mail-svg {
      fill: $accent-color;
    }
  }
}

.adress-tel {
  @extend %style-header-link;
  @extend %font-for-header-item;
  color: $text-main-color;

  &:hover,
  &:focus {
    color: $accent-color;
    .adress-tel-svg {
      fill: $accent-color;
    }
  }
}

%style-header-svg {
  display: inline-block;
  margin-right: 10px;
  fill: $text-main-color;
  -webkit-transition: fill $main-animation;
  -o-transition: fill $main-animation;
  transition: fill $main-animation;
  overflow-y: hidden;
  overflow-x: hidden;
}

.adress-mail-svg {
  @extend %style-header-svg;
  width: 16px;
  height: 14px;
}

.adress-tel-svg {
  @extend %style-header-svg;
  width: 14px;
  height: 15px;
}
