.header {
  background-color: $title-color-secondary;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-portfolio {
  background-color: $title-color-secondary;
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation-main-nav,
.navigation {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: $accent-color;
}

.navigation-menu-item .current {
  position: relative;
}

.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}

.navigation-menu-link:hover::after {
  content: "";
  background-color: $accent-color;
  transform: scale(1);
}

.header-adress-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-adress-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-adress-list-item:not(:last-child) {
  margin-right: 30px;
}

.logo {
  margin-right: 85px;
}

.nav-adress {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo,
.footer-logo {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-web,
.footer-logo-web {
  color: $accent-color;
}

.navigation-menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-menu-link,
.adress-mail,
.adress-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-color-main;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu-link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-main-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
  color: $accent-color;
}

.adress-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  color: $text-main-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  color: $text-main-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-mail:hover,
.adress-mail:focus,
.adress-tel:hover,
.adress-tel:focus,
.adress-mail-footer:hover,
.adress-mail-footer:focus,
.adress-tel-footer:hover,
.adress-tel-footer:focus,
.adress-map:hover,
.adress-map:focus {
  color: $accent-color;
}

.adress-mail-svg {
  display: inline-block;
  margin-right: 10px;
  fill: $text-main-color;
  transition: fill $main-animation;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 16px;
  height: 14px;
}

.adress-tel-svg {
  display: inline-block;
  margin-right: 10px;
  fill: $text-main-color;
  transition: fill $main-animation;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 14px;
  height: 15px;
}

.adress-mail {
  &:hover,
  &:focus {
    .adress-mail-svg {
      fill: $accent-color;
    }
  }
}

.adress-tel {
  &:hover,
  &:focus {
    .adress-tel-svg {
      fill: $accent-color;
    }
  }
}
