.our-team-section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.our-team-list {
  display: flex;
}

.our-team-item {
  background-color: $title-color-secondary;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team-social-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  margin-top: 16px;
}

.our-team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color $main-animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
    .social-link-item-svg {
      fill: $text-secondary-color;
    }
  }
}

.social-link-item-svg {
  fill: $text-main-color;
  transition: fill $main-animation;
  width: 20px;
  height: 20px;
}

%team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-title {
  @extend %team-text;
  color: $title-color-main;
  margin-top: 30px;
}

.our-team-text {
  @extend %team-text;
  font-weight: normal;
  color: $text-main-color;
  margin-top: 10px;
}
