.our-projects {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.projects-img {
  width: 368px;
  height: 294px;
  margin-bottom: 20px;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects-list-item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow $main-animation;
  transition: -webkit-box-shadow $main-animation;
  -o-transition: box-shadow $main-animation;
  transition: box-shadow $main-animation;
  transition: box-shadow $main-animation, -webkit-box-shadow $main-animation;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
      0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    .projects-description {
      -webkit-transform: translateY(-107%);
      -ms-transform: translateY(-107%);
      transform: translateY(-107%);
    }
  }
}

.projects-description-box {
  position: relative;
  overflow: hidden;
}

.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-color-main;
  margin-bottom: 4px;
  padding-left: 24px;
}

.projects-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  padding-left: 24px;
  color: $text-main-color;
}

.projects-description {
  display: block;
  position: absolute;
  -webkit-transform: translateY(107%);
  -ms-transform: translateY(107%);
  transform: translateY(107%);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  width: 368px;
  height: 294px;
  padding: 24px 63px;
  background-color: rgba(33, 150, 243, 0.9);
  color: $text-secondary-color;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
