.what-we-do {
  padding-bottom: 94px;
}

.our-works-menu {
  display: flex;
}

.our-works-item:not(:last-child) {
  margin-right: 30px;
}

.our-works-text {
  position: relative;
  bottom: 70px;
  display: block;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $text-secondary-color;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
