html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

img {
  display: block;
}
