:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color-main: #212121;
  --title-color-secondary: #ffffff;
  --text-main-color: #757575;
  --text-secondary-color: #ffffff;
  --accent-color: #2196f3;
}
